button,
input[type=button] {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: .75rem;
    color: #fff;
    padding: 1rem 1.8rem;
    cursor: pointer;

    &.primary {
        background-color: #766B88;

        svg {
            fill: #fff;
        }
    }
}