.container {
    max-width: 550px;
}

[class*="container"] {
    background-color: var(--dark-color);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 3rem;
    overflow: hidden;
    max-height: 60dvh;
}

.container-xl {
    max-width: 1100px;
    border-radius: 3rem;
}